:{$PORT} {
    root * /app/public
    encode zstd gzip
    php_server
    file_server

    @assets {
        path /build/* /css/* /js/* /images/*
    }
    header @assets Cache-Control "public, max-age=31536000, immutable"
}
